header{
    /*text-align: center;*/
    display: grid;
    grid-template-columns: 10% 80% 10%;
  
}

header h1{
    grid-column: 2 / 3;
    color: black;
    font: larger;
    border: 2px solid black;
    text-align: center;
    box-sizing: border-box;
    margin: 40px;
}

li#izq{
    font-size: 40px;
    display: grid;
    text-align: center;
    background: black;
    color: white;
    width: 240px;
    margin: 20px;
}
li#der{
    font-size: 40px;
    display: grid;
    text-align: center;
    background: black;
    color: white;
    width: 285px;
    margin: 20px;
}