body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    /*text-align: center;*/
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-color: #333;
}

header h1{
    grid-column: 2 / 3;
    color: white;
    font: larger;
    border: 2px solid white;
    text-align: center;
    box-sizing: border-box;
    margin: 40px;
}

nav{
    display: grid;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

    nav ul {
        display: flex;
        list-style-type: none;
        padding: 0;
    }
    
        li#izq{
            font-size: 30px;
            text-align: center;
            align-content: center;
            background: #333;
            color: white;
            width: 240px;
            height: 70px;
            margin: 10px;
        }
        li#der{
            font-size: 30px;
            text-align: center;
            align-content: center;
            background: #333;
            color: white;
            width: 285px;
            height: 70px;
            margin: 10px;
        }

section{
    display: flex;
    margin: 20px;
}
    section div{
        flex: 1;
        text-align: center;
    }
    section div:last-child{
        margin-right: 0;
    }

form{
    margin: 20px;
}

footer{
    display: grid;
    margin: 20px;
}