<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrique Arce</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Perfil de Enrique Arce</h1>
    </header>
    <nav id="perfiles">
        <ul>
            <li id="izq">Perfil Personal</li> <br>
            <li id="der">Perfil Profesional</li>
        </ul>
    </nav>
    <section>
        <div>
            <p>Bienvenido a mi perfil Web, mi nombre es Enrique Arce Alejandro y te invito a saber un poco más acerca  de mí</p>
            <ul>
                <li>Ingeniero Informático</li>
                <li>Emprendedor</li>
                <li>Baterista</li>
            </ul>
        </div>
        <div>
            <img src="static/images/fotoCVFormal.png" alt="perfilphoto" width="200">
        </div>
    </section>
    <form action="" autocomplete="off">
        <h1>Gracias por visitar mi perfil web!!!</h1>
        <p>Si gustas, y te lo agradecería mucho, puedes responder esta pregunta para colaborar en mi crecimiento personal</p>
        <label for="name">¿Cuál es tu primera impresión al conocerme a través de este perfil web?</label><br><br>
        <input type="text" id="name" spellcheck="true" placeholder="Sé honest@ y específic@" size="60">
        <p>Por ultimo califica tu experiencia de navegación en esta página web</p>
        <label for="qualification">Calificación:</label>
        <input type="range" id="qualification" value="0" max="10" min="0" oninput="this.nextElementSibling.value = this.value">
        <output>0</output>
    </form>
    <footer>
        <h1>Enlaces:</h1>
        <a href="https://cenace.upsa.edu.bo/certificados/x84afkeusv0mi1xhzffk0ithqswf9v7e">Certificado Cenace</a>
        <a href="https://www.linkedin.com/in/enrique-arce-alejandro-2204991b5/">LinkedIn</a>
        <a href="https://www.instagram.com/enrique_a7/">Instagram</a>
    </footer>
</body>
</html>